In [2]:
import pandas as pd
import yfinance as yf
import datetime

In [4]:
tickers = pd.read_csv('sp500symbols.csv', encoding='latin-1')

In [5]:
tickers.head()

  Symbol                 Name       Sector  Unnamed: 3
0    MMM           3M Company  Industrials         NaN
1    AOS      A.O. Smith Corp  Industrials         NaN
2    ABT  Abbott Laboratories  Health Care         NaN
3   ABBV          AbbVie Inc.  Health Care         NaN
4   ABMD              Abiomed  Health Care         NaN

In [20]:
tickers_list = tickers['Symbol'].astype(str).values.tolist()

In [16]:
start = datetime.datetime.now() - datetime.timedelta(days=3*365)

In [17]:
end = datetime.datetime.now()

In [39]:
tickers_list = [sub.replace('.', '-') for sub in tickers_list]

In [40]:
tickers_list

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ABMD',
 'ACN',
 'ATVI',
 'ADBE',
 'AAP',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'AKAM',
 'ALK',
 'ALB',
 'ARE',
 'ALXN',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'ABC',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'ANTM',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'BKR',
 'BLL',
 'BAC',
 'BAX',
 'BDX',
 'BRK-B',
 'BBY',
 'BIO',
 'BIIB',
 'BLK',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BF-B',
 'CHRW',
 'COG',
 'CDNS',
 'CZR',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'CNC',
 'CNP',
 'CERN',
 'CF',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CTXS',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CPRT',
 'GLW',
 'CTVA',
 'COST',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHI',
 'DHR',
 'DRI',
 'DVA',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DISCA',
 'DISCK',
 'DISH',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DTE',
 'DUK',
 'DRE',
 'DD',
 'DXC',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'RE',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FB',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FRC',
 'FE',
 'FISV',
 'FLT',
 'FLIR',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FBHS',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GPS',
 'GRMN',
 'IT',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GS',
 'GWW',
 'HAL',
 'HBI',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HES',
 'HPE',
 'HLT',
 'HFC',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUM',
 'HBAN',
 'HII',
 'IEX',
 'IDXX',
 'INFO',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'INTC',
 'ICE',
 'IBM',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'IPGP',
 'IQV',
 'IRM',
 'JBHT',
 'JKHY',
 'J',
 'SJM',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'KSU',
 'K',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LB',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LEG',
 'LDOS',
 'LEN',
 'LLY',
 'LNC',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LUMN',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MXIM',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MHK',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NWL',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NLSN',
 'NKE',
 'NI',
 'NSC',
 'NTRS',
 'NOC',
 'NLOK',
 'NCLH',
 'NOV',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PENN',
 'PNR',
 'PBCT',
 'PEP',
 'PKI',
 'PRGO',
 'PFE',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PSA',
 'PHM',
 'PVH',
 'QRVO',
 'QCOM',
 'PWR',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SEE',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STE',
 'SYK',
 'SIVB',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'BK',
 'CLX',
 'COO',
 'HSY',
 'MOS',
 'TRV',
 'DIS',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRMB',
 'TFC',
 'TWTR',
 'TYL',
 'TSN',
 'USB',
 'UDR',
 'ULTA',
 'UAA',
 'UA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'UNM',
 'VLO',
 'VAR',
 'VTR',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VIAC',
 'VTRS',
 'V',
 'VNO',
 'VMC',
 'WRB',
 'WBA',
 'WMT',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WU',
 'WAB',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WLTW',
 'WYNN',
 'XEL',
 'XLNX',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [71]:
data = yf.download(tickers_list,
                   start=start, 
                   end=end,
                   progress=False,
                   auto_adjust=True)

In [72]:
data.head()

                Close                                                          \
                    A        AAL         AAP       AAPL       ABBV        ABC
Date
2018-03-26  66.462555  50.643394  113.430069  41.671970  80.688240  80.469139
2018-03-27  65.293129  49.705917  113.667259  40.603455  77.919014  79.578735
2018-03-28  64.708427  49.657082  114.625961  40.154827  79.832924  80.620712
2018-03-29  65.195679  50.741039  117.165947  40.468391  80.154747  81.662689
2018-04-02  62.928768  48.612186  110.623230  40.203072  77.453255  78.309402

                                                           ...     Volume  \
                  ABMD        ABT         ACN        ADBE  ...        XEL
Date                                                       ...
2018-03-26  295.399994  58.120476  145.430771  228.910004  ...  2924300.0
2018-03-27  286.429993  57.368633  141.634460  213.800003  ...  4414400.0
2018-03-28  282.989990  56.369343  140.254822  212.539993  ...  4727900.0
2018-03-29  290.989990  57.026012  146.049210  216.080002  ...  3709400.0
2018-04-02  279.109985  55.398602  140.797165  212.279999  ...  3007100.0

                                                                              \
                 XLNX         XOM       XRAY       XYL        YUM        ZBH
Date
2018-03-26  3003400.0  15032700.0  3540800.0  927800.0  2049900.0  1274000.0
2018-03-27  3025700.0  15821900.0  3077100.0  789100.0  3006200.0  1218300.0
2018-03-28  2209000.0  18163900.0  1566600.0  949600.0  2476400.0   995400.0
2018-03-29  2300100.0  14882900.0  3175000.0  894800.0  1718900.0  1356100.0
2018-04-02  3263900.0  17891100.0  2428200.0  944100.0  2282900.0  1235000.0


                ZBRA       ZION        ZTS
Date
2018-03-26  516400.0  2457800.0  3089900.0
2018-03-27  384200.0  2262400.0  2689900.0
2018-03-28  363100.0  1968600.0  2634500.0
2018-03-29  224200.0  1747400.0  4122900.0
2018-04-02  430400.0  2250200.0  2566000.0

[5 rows x 2525 columns]

In [73]:
data = data['Close']

In [74]:
data.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-03-26,66.462555,50.643394,113.430069,41.671970,80.688240,80.469139,295.399994,58.120476,145.430771,228.910004,...,40.551991,71.048912,62.375694,49.844772,75.015205,79.680550,107.170204,140.399994,48.797714,82.243416
2018-03-27,65.293129,49.705917,113.667259,40.603455,77.919014,79.578735,286.429993,57.368633,141.634460,213.800003,...,41.443142,69.018936,62.122810,48.801052,73.512589,79.538330,105.920403,135.460007,47.679508,80.406616
2018-03-28,64.708427,49.657082,114.625961,40.154827,79.832924,80.620712,282.989990,56.369343,140.254822,212.539993,...,41.654453,68.319939,61.372616,48.808872,73.021355,79.889175,105.842102,135.949997,47.816990,79.561905
2018-03-29,65.195679,50.741039,117.165947,40.468391,80.154747,81.662689,290.989990,57.026012,146.049210,216.080002,...,41.783073,69.172142,62.889870,49.160648,74.090538,80.723618,106.703255,139.190002,48.330265,82.027328
2018-04-02,62.928768,48.612186,110.623230,40.203072,77.453255,78.309402,279.109985,55.398602,140.797165,212.279999,...,41.296158,66.108040,61.718204,47.909885,72.337463,79.405571,104.119835,137.399994,47.083740,79.768166

In [75]:
data.isna().sum()

A       1
AAL     1
AAP     1
AAPL    1
ABBV    1
       ..
YUM     1
ZBH     1
ZBRA    1
ZION    1
ZTS     1
Length: 505, dtype: int64

In [65]:
data[data['AAPL'].isnull()]

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
data[data['TSLA'].isnull()]

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-12-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

US Markets Closed December 5, 2018: National Day of Mourning for George H.W. Bush
https://edition.cnn.com/2018/12/01/business/markets-closed-george-h-w-bush/index.html

In [102]:
data2 = data.dropna(thresh=1)

In [103]:
data2.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2018-03-26,66.462555,50.643394,113.430069,41.671970,80.688240,80.469139,295.399994,58.120476,145.430771,228.910004,...,40.551991,71.048912,62.375694,49.844772,75.015205,79.680550,107.170204,140.399994,48.797714,82.243416
2018-03-27,65.293129,49.705917,113.667259,40.603455,77.919014,79.578735,286.429993,57.368633,141.634460,213.800003,...,41.443142,69.018936,62.122810,48.801052,73.512589,79.538330,105.920403,135.460007,47.679508,80.406616
2018-03-28,64.708427,49.657082,114.625961,40.154827,79.832924,80.620712,282.989990,56.369343,140.254822,212.539993,...,41.654453,68.319939,61.372616,48.808872,73.021355,79.889175,105.842102,135.949997,47.816990,79.561905
2018-03-29,65.195679,50.741039,117.165947,40.468391,80.154747,81.662689,290.989990,57.026012,146.049210,216.080002,...,41.783073,69.172142,62.889870,49.160648,74.090538,80.723618,106.703255,139.190002,48.330265,82.027328
2018-04-02,62.928768,48.612186,110.623230,40.203072,77.453255,78.309402,279.109985,55.398602,140.797165,212.279999,...,41.296158,66.108040,61.718204,47.909885,72.337463,79.405571,104.119835,137.399994,47.083740,79.768166

In [104]:
data2['A'].isna().sum()

0

In [101]:
for i in data2.columns:
    print(i, " : ", data2[i].isna().sum())

A  :  0
AAL  :  0
AAP  :  0
AAPL  :  0
ABBV  :  0
ABC  :  0
ABMD  :  0
ABT  :  0
ACN  :  0
ADBE  :  0
ADI  :  0
ADM  :  0
ADP  :  0
ADSK  :  0
AEE  :  0
AEP  :  0
AES  :  0
AFL  :  0
AIG  :  0
AIZ  :  0
AJG  :  0
AKAM  :  0
ALB  :  0
ALGN  :  0
ALK  :  0
ALL  :  0
ALLE  :  0
ALXN  :  0
AMAT  :  0
AMCR  :  0
AMD  :  0
AME  :  0
AMGN  :  0
AMP  :  0
AMT  :  0
AMZN  :  0
ANET  :  0
ANSS  :  0
ANTM  :  0
AON  :  0
AOS  :  0
APA  :  0
APD  :  0
APH  :  0
APTV  :  0
ARE  :  0
ATO  :  0
ATVI  :  0
AVB  :  0
AVGO  :  0
AVY  :  0
AWK  :  0
AXP  :  0
AZO  :  0
BA  :  0
BAC  :  0
BAX  :  0
BBY  :  0
BDX  :  0
BEN  :  0
BF-B  :  0
BIIB  :  0
BIO  :  0
BK  :  0
BKNG  :  0
BKR  :  0
BLK  :  0
BLL  :  0
BMY  :  0
BR  :  0
BRK-B  :  0
BSX  :  0
BWA  :  0
BXP  :  0
C  :  0
CAG  :  0
CAH  :  0
CARR  :  499
CAT  :  0
CB  :  0
CBOE  :  0
CBRE  :  0
CCI  :  0
CCL  :  0
CDNS  :  0
CDW  :  0
CE  :  0
CERN  :  0
CF  :  0
CFG  :  0
CHD  :  0
CHRW  :  0
CHTR  :  0
CI  :  0
CINF  :  0
CL  :  0
CLX  :  0
CMA  :  0
CMCSA  :  0
CME  :  0
CMG  :  0
CMI  :  0
CMS  :  0
CNC  :  0
CNP  :  0
COF  :  0
COG  :  0
COO  :  0
COP  :  0
COST  :  0
CPB  :  0
CPRT  :  0
CRM  :  0
CSCO  :  0
CSX  :  0
CTAS  :  0
CTLT  :  0
CTSH  :  0
CTVA  :  293
CTXS  :  0
CVS  :  0
CVX  :  0
CZR  :  0
D  :  0
DAL  :  0
DD  :  0
DE  :  0
DFS  :  0
DG  :  0
DGX  :  0
DHI  :  0
DHR  :  0
DIS  :  0
DISCA  :  0
DISCK  :  0
DISH  :  0
DLR  :  0
DLTR  :  0
DOV  :  0
DOW  :  247
DPZ  :  0
DRE  :  0
DRI  :  0
DTE  :  0
DUK  :  0
DVA  :  0
DVN  :  0
DXC  :  0
DXCM  :  0
EA  :  0
EBAY  :  0
ECL  :  0
ED  :  0
EFX  :  0
EIX  :  0
EL  :  0
EMN  :  0
EMR  :  0
ENPH  :  0
EOG  :  0
EQIX  :  0
EQR  :  0
ES  :  0
ESS  :  0
ETN  :  0
ETR  :  0
ETSY  :  0
EVRG  :  0
EW  :  0
EXC  :  0
EXPD  :  0
EXPE  :  0
EXR  :  0
F  :  0
FANG  :  0
FAST  :  0
FB  :  0
FBHS  :  0
FCX  :  0
FDX  :  0
FE  :  0
FFIV  :  0
FIS  :  0
FISV  :  0
FITB  :  0
FLIR  :  0
FLT  :  0
FMC  :  0
FOX  :  242
FOXA  :  241
FRC  :  0
FRT  :  0
FTNT  :  0
FTV  :  0
GD  :  0
GE  :  0
GILD  :  0
GIS  :  0
GL  :  0
GLW  :  0
GM  :  0
GNRC  :  0
GOOG  :  0
GOOGL  :  0
GPC  :  0
GPN  :  0
GPS  :  0
GRMN  :  0
GS  :  0
GWW  :  0
HAL  :  0
HAS  :  0
HBAN  :  0
HBI  :  0
HCA  :  0
HD  :  0
HES  :  0
HFC  :  0
HIG  :  0
HII  :  0
HLT  :  0
HOLX  :  0
HON  :  0
HPE  :  0
HPQ  :  0
HRL  :  0
HSIC  :  0
HST  :  0
HSY  :  0
HUM  :  0
HWM  :  0
IBM  :  0
ICE  :  0
IDXX  :  0
IEX  :  0
IFF  :  0
ILMN  :  0
INCY  :  0
INFO  :  0
INTC  :  0
INTU  :  0
IP  :  0
IPG  :  0
IPGP  :  0
IQV  :  0
IR  :  0
IRM  :  0
ISRG  :  0
IT  :  0
ITW  :  0
IVZ  :  0
J  :  0
JBHT  :  0
JCI  :  0
JKHY  :  0
JNJ  :  0
JNPR  :  0
JPM  :  0
K  :  0
KEY  :  0
KEYS  :  0
KHC  :  0
KIM  :  0
KLAC  :  0
KMB  :  0
KMI  :  0
KMX  :  0
KO  :  0
KR  :  0
KSU  :  0
L  :  0
LB  :  0
LDOS  :  0
LEG  :  0
LEN  :  0
LH  :  0
LHX  :  0
LIN  :  0
LKQ  :  0
LLY  :  0
LMT  :  0
LNC  :  0
LNT  :  0
LOW  :  0
LRCX  :  0
LUMN  :  499
LUV  :  0
LVS  :  0
LW  :  0
LYB  :  0
LYV  :  0
MA  :  0
MAA  :  0
MAR  :  0
MAS  :  0
MCD  :  0
MCHP  :  0
MCK  :  0
MCO  :  0
MDLZ  :  0
MDT  :  0
MET  :  0
MGM  :  0
MHK  :  0
MKC  :  0
MKTX  :  0
MLM  :  0
MMC  :  0
MMM  :  0
MNST  :  0
MO  :  0
MOS  :  0
MPC  :  0
MPWR  :  0
MRK  :  0
MRO  :  0
MS  :  0
MSCI  :  0
MSFT  :  0
MSI  :  0
MTB  :  0
MTD  :  0
MU  :  0
MXIM  :  0
NCLH  :  0
NDAQ  :  0
NEE  :  0
NEM  :  0
NFLX  :  0
NI  :  0
NKE  :  0
NLOK  :  0
NLSN  :  0
NOC  :  0
NOV  :  0
NOW  :  0
NRG  :  0
NSC  :  0
NTAP  :  0
NTRS  :  0
NUE  :  0
NVDA  :  0
NVR  :  0
NWL  :  0
NWS  :  0
NWSA  :  0
NXPI  :  0
O  :  0
ODFL  :  0
OKE  :  0
OMC  :  0
ORCL  :  0
ORLY  :  0
OTIS  :  499
OXY  :  0
PAYC  :  0
PAYX  :  0
PBCT  :  0
PCAR  :  0
PEAK  :  0
PEG  :  0
PENN  :  0
PEP  :  0
PFE  :  0
PFG  :  0
PG  :  0
PGR  :  0
PH  :  0
PHM  :  0
PKG  :  0
PKI  :  0
PLD  :  0
PM  :  0
PNC  :  0
PNR  :  0
PNW  :  0
POOL  :  0
PPG  :  0
PPL  :  0
PRGO  :  0
PRU  :  0
PSA  :  0
PSX  :  0
PVH  :  0
PWR  :  0
PXD  :  0
PYPL  :  0
QCOM  :  0
QRVO  :  0
RCL  :  0
RE  :  0
REG  :  0
REGN  :  0
RF  :  0
RHI  :  0
RJF  :  0
RL  :  0
RMD  :  0
ROK  :  0
ROL  :  0
ROP  :  0
ROST  :  0
RSG  :  0
RTX  :  0
SBAC  :  0
SBUX  :  0
SCHW  :  0
SEE  :  0
SHW  :  0
SIVB  :  0
SJM  :  0
SLB  :  0
SNA  :  0
SNPS  :  0
SO  :  0
SPG  :  0
SPGI  :  0
SRE  :  0
STE  :  0
STT  :  0
STX  :  0
STZ  :  0
SWK  :  0
SWKS  :  0
SYF  :  0
SYK  :  0
SYY  :  0
T  :  0
TAP  :  0
TDG  :  0
TDY  :  0
TEL  :  0
TER  :  0
TFC  :  0
TFX  :  0
TGT  :  0
TJX  :  0
TMO  :  0
TMUS  :  0
TPR  :  0
TRMB  :  0
TROW  :  0
TRV  :  0
TSCO  :  0
TSLA  :  0
TSN  :  0
TT  :  0
TTWO  :  0
TWTR  :  0
TXN  :  0
TXT  :  0
TYL  :  0
UA  :  0
UAA  :  0
UAL  :  0
UDR  :  0
UHS  :  0
ULTA  :  0
UNH  :  0
UNM  :  0
UNP  :  0
UPS  :  0
URI  :  0
USB  :  0
V  :  0
VAR  :  0
VFC  :  0
VIAC  :  0
VLO  :  0
VMC  :  0
VNO  :  0
VRSK  :  0
VRSN  :  0
VRTX  :  0
VTR  :  0
VTRS  :  0
VZ  :  0
WAB  :  0
WAT  :  0
WBA  :  0
WDC  :  0
WEC  :  0
WELL  :  0
WFC  :  0
WHR  :  0
WLTW  :  0
WM  :  0
WMB  :  0
WMT  :  0
WRB  :  0
WRK  :  0
WST  :  0
WU  :  0
WY  :  0
WYNN  :  0
XEL  :  0
XLNX  :  0
XOM  :  0
XRAY  :  0
XYL  :  0
YUM  :  0
ZBH  :  0
ZBRA  :  0
ZION  :  0
ZTS  :  0

Some companies are observed to not have been listed for at least 3 years.

In [97]:
data2.isnull().sum().values.any()

True

In [108]:
data2['FOX'].isnull()

Date
2018-03-26     True
2018-03-27     True
2018-03-28     True
2018-03-29     True
2018-04-02     True
              ...
2021-03-16    False
2021-03-17    False
2021-03-18    False
2021-03-19    False
2021-03-22    False
Name: FOX, Length: 753, dtype: bool

In [110]:
data2.to_csv('SP500Data.csv')